@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.netraName{
    font-family: 'Kalam', cursive;
}
.dragging {
    border-color: #ff4500;
    background-color: #43271d2e;
    opacity: 0.6;
}